services:
  postgres:
    image: "postgres:17"
    environment:
      POSTGRES_USER: "postgres"
      POSTGRES_PASSWORD: "postgres"
    ports:
      - "5432:5432"
    volumes:
      - ./seeds/postgres:/docker-entrypoint-initdb.d
    networks:
      - app-network

  minio:
    image: quay.io/minio/minio:latest
    ports:
      - "9000:9000"
      - "9001:9001"
    environment:
      MINIO_ROOT_USER: kim
      MINIO_ROOT_PASSWORD: possible
    entrypoint: sh
    command: -c 'mkdir -p /data/my-backups && /usr/bin/minio server /data --console-address ":9001"'
    networks:
      - app-network

  application:
    build:
      context: .
      dockerfile: Dockerfile.dev
    command: bun dev
    ports:
      - "3000:3000"
    volumes:
      - .:/app
    working_dir: /app
    environment:
      MY_TEST_ENCRYPTION_KEY: unicorn
      MY_POSTGRES_CONNECTION_URL: postgresql://postgres:postgres@postgres
      MY_S3_ACCESS_KEY: kim
      MY_S3_SECRET_KEY: possible
    networks:
      - app-network

networks:
  app-network:
    driver: bridge
