services:
  postgres:
    image: "postgres:17"
    environment:
      POSTGRES_USER: "postgres"
      POSTGRES_PASSWORD: "postgres"
    ports:
      - "5432:5432"
    volumes:
      - ./seeds/postgres:/docker-entrypoint-initdb.d
    networks:
      - app-network
  application:
    build:
      context: .
      dockerfile: Dockerfile.dev
    command: bun dev
    ports:
      - "3000:3000"
    volumes:
      - .:/app
    working_dir: /app
    networks:
      - app-network

networks:
  app-network:
    driver: bridge
