@import "tailwindcss";

/**
 * Variables
 */
:root {
    --grid-column-count: 12;
    --column-max-width: 96px;
    --grid-gap: 8px;
}

/**
 * Utility class for creating a root grid system:
 *  • only used once in the DOM tree, typically on the <body> element
 *  • depends on a few CSS variables: `--grid-column-count`, `--column-max-width` and `--grid-gap`
 *  • fully responsive, by including 2 responsive "gutter" columns on each side as well
 *  • so there's `calc(--grid-column-count + 2)` columns in total
 *
 * The main idea is that the container rows WITHIN this grid are defined as SUBGRIDS.
 *
 * That way, the columns within these subgrids line up with the main grid,
 * AND the subgrid can be configured to have the actually correct number of `--grid-column-count` columns,
 * so without the 2 gutter columns on either side.
 *
 * Additionally, this utility class uses the following properties
 *  • min-height
 *  • grid-template-rows
 * in order to support a typical 3-part <header>, <main>, <footer> layout with a sticky footer.
 */
@utility u-root-grid {
    display: grid;
    grid-template-columns: minmax(0px, 1fr) repeat(var(--grid-column-count), minmax(0px, var(--column-max-width))) minmax(0px, 1fr);
    column-gap: var(--grid-gap);
    min-height: 100vh;
    grid-template-rows: auto 1fr auto;
}

/**
 * Rather specific utility class to only span the "important" colums of the root grid,
 * without the 2 gutter columns.
 *
 * Should only be used a few times high up in the DOM tree, probably only at these top elements:
 *  • <header>
 *  • <main>
 *  • <footer>
 */
@utility u-root-grid-minus-gutters {
    grid-column-start: 2;
    grid-column-end: -2;
}

/**
 * Defines a subgrid, which lines up with the grid columns of its parent grid.
 * Must be placed on all containers which are direct children of the (usually <body>) main grid.
 *
 * The `grid-auto-rows` property makes sure that individual rows of this subgrid container aren't automatically stretched,
 * because, by default, they would stretch to fill all available vertical space.
 */
@utility u-subgrid {
    display: grid;
    grid-template-columns: subgrid;
    grid-auto-rows: min-content;
}

/**
 * Theme settings and variables
 * https://tailwindcss.com/docs/theme#theme-variable-namespaces
 */
@theme {
    /* DESKTOP FIRST / PART A -> https://stackoverflow.com/a/79607480 */
    --breakpoint-*: initial;
    /* Fonts */
    --font-f-display: "Inter", sans-serif;
    --font-f-body: "Inter", sans-serif;
    /* Colors */
    --color-c-primary: #d4d4d4;
    --color-c-success: #b8ffba;
    --color-c-error: #ff6464;
    --color-c-info: #8585f6;
    --color-c-dim: #979797;
    --color-c-dark: #2d2c32;
}
/* DESKTOP FIRST / PART B -> https://stackoverflow.com/a/79607480 */
@custom-variant 2xl (@media (max-width: 1535px));
@custom-variant xl (@media (max-width: 1279px));
@custom-variant lg (@media (max-width: 1023px));
@custom-variant md (@media (max-width: 767px));
@custom-variant sm (@media (max-width: 639px));

/**
 * Default styling and global css rules
 */
@layer base {
    @font-face {
        font-family: "Inter";
        src: url("./fonts/Inter-VariableFont_opsz,wght.ttf");
        font-weight: 100 900;
        font-stretch: normal;
        font-style: normal;
        font-display: swap;
    }

    @font-face {
        font-family: "Inter";
        src: url("./fonts/Inter-Italic-VariableFont_opsz,wght.ttf");
        font-weight: 100 900;
        font-stretch: normal;
        font-style: italic;
        font-display: swap;
    }

    body {
        @apply font-f-body text-c-primary min-w-[320px] min-h-screen relative m-0;
        font-optical-sizing: auto;
    }
    #root {
        @apply u-root-grid;
    }
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        @apply font-f-display;
    }
}
