on:
  push:
    branches:
      - main

env:
  BUN_VERSION: "1.3.7"
  NODE_MAJOR_VERSION: "24"

jobs:
  main:
    name: "CI Pipeline"
    runs-on: ubuntu-latest
    steps:
      - name: "Environment :: Checkout"
        uses: actions/checkout@v6

      - name: "Environment :: Bun"
        uses: oven-sh/setup-bun@v2
        with:
          bun-version: ${{ env.BUN_VERSION }}

      - name: "Environment :: Node"
        uses: actions/setup-node@v6
        with:
          node-version: ${{ env.NODE_MAJOR_VERSION }}

      - name: "Setup :: Installation"
        run: |
          bun install
          bun install:browsers

      - name: "Setup :: Users & Groups"
        run: |
          echo "HOST_UID=$(id -u)" >> $GITHUB_ENV
          echo "HOST_GID=$(id -g)" >> $GITHUB_ENV

      - name: "Application :: Type Checking"
        run: bun tc

      - name: "Application :: Unit Tests"
        run: bun test

      - name: "Application :: E2E Tests"
        run: bun e2e:headless
